:root{
  --background-color:#35353abe;
  --title-colors: #adadad;
  --header-font: #adadad;
  --hover-font:#ffffff;
  --section-background1:#1f2d9456;
  --border-colors:#070202;
  }

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

/* Styles the overall header */
.header{
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}
/* Styles 'Avery Myers' on the header */
.header-name{
  color: var(--header-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 40px;
  margin: 2px;
}
   
.header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header nav ul li {
  margin: 0 10px;
  align-items: center;
}
/* customizes the nav list items */
.header nav ul li a {
  text-decoration: none;
  color:var(--header-font);
  font-size: 18px;
 align-items: center;
}
/* Changes the nav tag design when hovering */
.header nav ul li a:hover {
  color:var(--hover-font);
}

/* Changes the format when the screen hits 609px */
@media only screen and (max-width: 620px) {
  .header {
    height: 80px;
    padding: 0 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 15px;
  }

  .header-title {
    font-size: 32px;
    margin: 0;
  }

  .header nav{
    margin-top: 10px;
  }

  .header nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .header nav ul li {
    margin: 5px 0;
  }
  
  .header nav ul li a {
    color: var(--header-font);
    font-size: 18px;
  }
  
  .header nav button {
    background-color: transparent;
    border: none;
    color: var(--hover-font);
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
  }
  .header nav ul li a:hover {
    color:var(--hover-font);
  }
  
  .main h2 {
    font-size: 40px;
  }

  /* Styles the entire about me section */
  .about-me-section {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: var(--section-background1);
    overflow-x: hidden;
    padding-bottom: 2%;
    border: 3px solid var(--border-colors);
    grid-gap: 0;

  }

  /* Styles the about me header and associated photo */
  .about-me-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    grid-gap: 0;
  }

  /* Styles the about-me article */
  .about-me-article {
    margin:0;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
  }

  /* style and sizes the photo in about me section */
  .about-me-photo img {
    width: 160px;
    align-items: center;
    margin:auto;
    margin-top: -20px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    display: none;
  }

}

/* Styles main section fonts */
.main h2 {
  font-size: 40px;
}

/* Styles the entire about me section */
.about-me-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 80px;
  align-items:baseline;
  background-color: var(--section-background1);
  overflow-x: hidden;
  padding-bottom: 2%;
  border: 3px solid black;
}

/* Styles the about me header and associated photo */
.about-me-header { 
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  margin-left: 0px;
  text-align: center;
}

/* Styles the about-me article */
.about-me-article {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin:auto;
  margin-right: 40%;
  padding-top: 0;
}

/* style and sizes the photo in about me section */
.about-me-photo img {
  width: 20%;
  align-items: center;
  margin:auto;
  margin-top: 10px;
  border-width: 2px;
  border: 2px solid var(--border-colors);
  border-radius: 13px;
}

@media only screen and (max-width: 620px) { 

  .main h2 {
    font-size: 40px;
  }

  /* Styles the entire about me section */ 
  .about-me-section {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: var(--section-background1);
    overflow-x: hidden;
    padding-bottom: 0%;
    border: 3px solid black;
    grid-gap: 0;
  }

  /* Styles the about me header and associated photo */
  .about-me-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    grid-gap: 0;
    padding-top: 0px;
  }

  /* Styles the about-me article */
  .about-me-article {
    margin:0;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
  }

  /* style and sizes the photo in about me section */
  .about-me-photo img {
    width: 160px;
    align-items: center;
    margin-top: -20px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    display: none;
  }
}

.study-guide,
img{
  margin-left: 0%;
  border: black solid 5px;
  padding-bottom: -2px;
  width: 10%;
}

.work-header{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  margin-left: 0px;
  text-align: center
}

.main h2{

  text-align: center;
  margin-left: 10%;

}
