:root{
  --background-color:#35353abe;
  --title-colors: #adadad;
  --header-font: #adadad;
  --hover-font:#ffffff;
  --section-background1:#1f2d9456;  
  }

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

/* Styles the overall header */
.header{
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}
/* Styles 'Avery Myers' on the header */
.header-name{
  color: var(--header-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 40px;
  margin: 2px;
}
   
.header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header nav ul li {
  margin: 0 10px;
  align-items: center;
}
/* customizes the nav list items */
.header nav ul li a {
  text-decoration: none;
  color:var(--header-font);
  font-size: 18px;
 align-items: center;
}
/* Changes the nav tag design when hovering */
.header nav ul li a:hover {
  color:var(--hover-font);
  text-decoration: underline;
}

/* Changes the format when the screen hits 609px */
@media only screen and (max-width: 620px) {
  .header {
    height: 80px;
    padding: 0 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 15px;
  }

  .header- {
    font-size: 32px;
    margin: 0;
    text-decoration: underline;
  }

  .header nav{
    margin-top: 10px;
  }

  .header nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .header nav ul li {
    margin: 5px 0;
  }
  
  .header nav ul li a {
    color: var(--header-font);
    font-size: 18px;
  }
  
  .header nav button {
    background-color: transparent;
    border: none;
    color: var(--hover-font);
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
  }
  .header nav ul li a:hover {
    color:var(--hover-font);
    text-decoration: underline;
  }
  
}

/* Styles main section fonts */
.main h2 {
  font-size: 40px;
}

/* Styles the entire about me section */
#about-me-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 30px;
  align-items:center;
  background-color: var(--section-background1);
  padding: 10px;
  overflow-x: hidden;
}

/* Styles the about me header and associated photo */
.about-me-header {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px;
  margin-left: 90px;
  text-align: center;
}

/* Styles the about-me article */
.about-me-article {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin:90px;
  margin-left: 0px;
}

/* style and sizes the photo in about me section */
.about-me-photo img {
  max-width: 60%;
  height: auto;
  align-items: center;
  margin:auto;
  margin-top: -20px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}

